Estrada Barr√≥n Teresa Jazmin

##Lanzamiento de dos dados



![image.png]()

##Diccionarios:

$$\text{\{key : values\}.}$$

In [29]:
#Creamos un diccionario
d={"Jazmin":["Masha", "Nala", "Leo"],
   "Teresa":[3,10,12],
   "Lea":[3.2,4.0,7.0]}

In [30]:
type(d)

dict

In [31]:
d.keys() #llaves de un diccionario

dict_keys(['Jazmin', 'Teresa', 'Lea'])

In [32]:
d.values() #valores de un diccionario

dict_values([['Masha', 'Nala', 'Leo'], [3, 10, 12], [3.2, 4.0, 7.0]])

In [33]:
d.items()

dict_items([('Jazmin', ['Masha', 'Nala', 'Leo']), ('Teresa', [3, 10, 12]), ('Lea', [3.2, 4.0, 7.0])])

##Se lanzan dos dados

- $\Omega = \{1,2,3,4,5,6\}\times\{1,2,3,4,5,6\}$
- $\mathscr{F}=p(\Omega)$
- Para $\Omega=(1,j)$ donde $ i,j = 1,2, ... , 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}$$

---
##Vamos a definir a la siguiente variable aleatoria:

$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to \mathbb{R}_{X}=\{2,3,4,5,6,7,8,9,10,11,12\}$$

Para entender a la ley de la variable aleatoria,  basta con entender a los siguientes datos:

$$\{(k,\mathbb{P}(S = k))\}_{k\in \mathbb{R}_{S}}$$

Veamos a $S$ como eventos. Sea $S_{n}$ el evento de la suma de las caras en $n$.

In [34]:
from itertools import product
from fractions import Fraction

In [35]:
#Definimos la funci√≥n P
def P(A, Omega):
  P=Fraction(len(A),len(Omega))
  return P

$$S_{n}=\{ (i,j)\in \Omega : i+j = n\}$$

In [36]:
#El evento de la suma de las caras de los dados sea igual a 2
S_2= {(i,j) for i in range(1,7) for j in range(1,7) if i+j==2}
S_2

{(1, 1)}

In [37]:
#Construimos a nuestro universo Omega
L=[i for i in range(1,7)]
Omega = set(product(L,repeat=2))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [38]:
#Vemos todas las posibles eventos en omega
S={(i,j): i+j for i,j in Omega}
S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [39]:
from collections import defaultdict
#Crea el diccionario y te lo regresa de una forma resumida
dS=defaultdict(set)
dS

defaultdict(set, {})

In [40]:
#l son las llaves del diccionario
#v son los valores del diccionario
for l,v in S.items():
  print(l)

(3, 4)
(4, 3)
(3, 1)
(5, 4)
(4, 6)
(5, 1)
(2, 2)
(1, 6)
(2, 5)
(1, 3)
(6, 2)
(6, 5)
(4, 2)
(4, 5)
(3, 3)
(5, 6)
(3, 6)
(5, 3)
(2, 4)
(1, 2)
(2, 1)
(1, 5)
(6, 1)
(6, 4)
(3, 2)
(4, 1)
(3, 5)
(5, 2)
(4, 4)
(5, 5)
(1, 1)
(1, 4)
(2, 3)
(2, 6)
(6, 6)
(6, 3)

In [41]:
#A√±adimos valores a dS
for l, v in S.items():
  dS[v].add(l)

In [42]:
#Vemos que eventos nos generan cada una de las posibles sumas
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [43]:
#Vemos cual es la probabilidad de cada una de las posibles sumas
leyS={k : P(A,Omega) for k, A in dS.items()}
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

##Introducci√≥n a pandas.

In [44]:
import pandas as pd

In [45]:
#Utilizamos la funci√≥n Series de pandas la cual nos muestra a probabilidad de cada una de las posibles sumas de una forma m√°s sintetizada
leyS=pd.Series(leyS)
leyS=leyS.sort_index()

In [46]:
leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

### Ejercicios:
1.- Documenta tu colab.

2.- Calcula la ley de las siguientes variables aleatorias:

1.          - La diferencia de las caras sea mayor que $1$.

    - La suma de las caras sea par.

3.- Verifica, en cada caso, que $$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

4.- Sube tu notebook a tu GitHub.

### **Ejercicio 1** - Probabilidad de que la diferencia de las caras sea mayor que $1$.

In [47]:
#Creando el primer diccionario para obtener su probabilidad
#La diferencia de las caras sea mayor que 1
d1 = {(i,j) : abs(i-j) for i,j in Omega if abs(i-j)>1}
d1

{(3, 1): 2,
 (4, 6): 2,
 (5, 1): 4,
 (1, 6): 5,
 (2, 5): 3,
 (1, 3): 2,
 (6, 2): 4,
 (4, 2): 2,
 (3, 6): 3,
 (5, 3): 2,
 (2, 4): 2,
 (1, 5): 4,
 (6, 1): 5,
 (6, 4): 2,
 (4, 1): 3,
 (3, 5): 2,
 (5, 2): 3,
 (1, 4): 3,
 (2, 6): 4,
 (6, 3): 3}

In [48]:
# Creando un nuevo conjunto manipulable
Dd1 = defaultdict(set)
Dd1

defaultdict(set, {})

In [49]:
# Invirtiendo diccionarios y juntando
for l, v in d1.items():
  Dd1[v].add(l)
Dd1

defaultdict(set,
            {2: {(1, 3),
              (2, 4),
              (3, 1),
              (3, 5),
              (4, 2),
              (4, 6),
              (5, 3),
              (6, 4)},
             4: {(1, 5), (2, 6), (5, 1), (6, 2)},
             5: {(1, 6), (6, 1)},
             3: {(1, 4), (2, 5), (3, 6), (4, 1), (5, 2), (6, 3)}})

In [50]:
#Obtenemos la ley de probabilidad
leyd1 = {k : P(A,Omega) for k , A in Dd1.items() }
leyd1

{2: Fraction(2, 9), 4: Fraction(1, 9), 5: Fraction(1, 18), 3: Fraction(1, 6)}

In [51]:
#Utilizando pandas
leyd1S = pd.Series(leyd1)
leyd1S = leyd1S.sort_index()
leyd1S

2     2/9
3     1/6
4     1/9
5    1/18
dtype: object

En la l√≠nea anteriror obtuvimos la probabilidad de de que la suma sea 2, 3, 4 y 5.
Para poder obtener la probabilidad de la suma mayor que 1, sumemos las probabilidad; pues tenemos eventos mutuamente excluyentes.

---
~~~
Dos eventos A y B son mutuamente excluyentes si no pueden ocurrir al mismo tiempo, es decir, si no tienen elementos comunes.
~~~
---

In [52]:
P1 = sum(leyd1S)
P1

Fraction(5, 9)

Por lo que la probabilidad de obtener un n√∫mero cuya suma sea mayor a 1 ser√°:
$$ \mathbb{P} (X=x | x>1) = \frac{5}{9} $$

#### Comprobando:

$$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

Podemos hacer 2 procedimientos:
1. Obtenemos el complemento y lo sumamos al resultado obtenido.
2. Obtenemos la suma sin restricciones.

##### Forma 1: Sumando el complemento

##### Forma 1: Sumando el complemento

In [53]:
E_1_C = {(i,j) : abs(i-j) for i,j in Omega if abs(i-j)<=1}
E_1_C

{(3, 4): 1,
 (4, 3): 1,
 (5, 4): 1,
 (2, 2): 0,
 (6, 5): 1,
 (4, 5): 1,
 (3, 3): 0,
 (5, 6): 1,
 (1, 2): 1,
 (2, 1): 1,
 (3, 2): 1,
 (4, 4): 0,
 (5, 5): 0,
 (1, 1): 0,
 (2, 3): 1,
 (6, 6): 0}

In [54]:
# Creando un nuevo conjunto manipulable
dE_1_C = defaultdict(set)
# Invirtiendo diccionarios y juntando
for l, v in E_1_C.items():
  dE_1_C[v].add(l)
dE_1_C

defaultdict(set,
            {1: {(1, 2),
              (2, 1),
              (2, 3),
              (3, 2),
              (3, 4),
              (4, 3),
              (4, 5),
              (5, 4),
              (5, 6),
              (6, 5)},
             0: {(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)}})

In [55]:
leyE_1_C = {k : P(A,Omega) for k , A in dE_1_C.items() }
leyE_1_C

{1: Fraction(5, 18), 0: Fraction(1, 6)}

In [56]:
leyE_1_CS = pd.Series(leyE_1_C)
leyE_1_CS = leyE_1_CS.sort_index()
leyE_1_CS

0     1/6
1    5/18
dtype: object

In [57]:
P1_C = sum(leyE_1_CS)
P1_C

Fraction(4, 9)

La probabilidad del complemento es:
$$ \mathbb{P} (X=x | x>1) = \frac{4}{9}  \approx{.444} $$

Entonces, sumando las probabilidades:
$$ \sum_{k\in R_{X}}\mathbb{P}(X=x) = \mathbb{P} (X=x | x \leq 1) + \mathbb{P} (X=x | x > 1 ) = \frac{4}{9} + \frac{5}{9} = \frac{9}{9} =  1$$

In [58]:
P1 + P1_C

Fraction(1, 1)

##### Forma 2: Sin restricciones

In [59]:
E_1_2 = {(i,j) : abs(i-j) for i,j in Omega}
E_1_2

{(3, 4): 1,
 (4, 3): 1,
 (3, 1): 2,
 (5, 4): 1,
 (4, 6): 2,
 (5, 1): 4,
 (2, 2): 0,
 (1, 6): 5,
 (2, 5): 3,
 (1, 3): 2,
 (6, 2): 4,
 (6, 5): 1,
 (4, 2): 2,
 (4, 5): 1,
 (3, 3): 0,
 (5, 6): 1,
 (3, 6): 3,
 (5, 3): 2,
 (2, 4): 2,
 (1, 2): 1,
 (2, 1): 1,
 (1, 5): 4,
 (6, 1): 5,
 (6, 4): 2,
 (3, 2): 1,
 (4, 1): 3,
 (3, 5): 2,
 (5, 2): 3,
 (4, 4): 0,
 (5, 5): 0,
 (1, 1): 0,
 (1, 4): 3,
 (2, 3): 1,
 (2, 6): 4,
 (6, 6): 0,
 (6, 3): 3}

In [60]:
# Creando un nuevo conjunto manipulable
dE_1_2 = defaultdict(set)
# Invirtiendo diccionarios y juntando
for l, v in E_1_2.items():
  dE_1_2[v].add(l)
dE_1_2

defaultdict(set,
            {1: {(1, 2),
              (2, 1),
              (2, 3),
              (3, 2),
              (3, 4),
              (4, 3),
              (4, 5),
              (5, 4),
              (5, 6),
              (6, 5)},
             2: {(1, 3),
              (2, 4),
              (3, 1),
              (3, 5),
              (4, 2),
              (4, 6),
              (5, 3),
              (6, 4)},
             4: {(1, 5), (2, 6), (5, 1), (6, 2)},
             0: {(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)},
             5: {(1, 6), (6, 1)},
             3: {(1, 4), (2, 5), (3, 6), (4, 1), (5, 2), (6, 3)}})

In [61]:
leyE_1_2 = {k : P(A,Omega) for k , A in dE_1_2.items() }
leyE_1_2

{1: Fraction(5, 18),
 2: Fraction(2, 9),
 4: Fraction(1, 9),
 0: Fraction(1, 6),
 5: Fraction(1, 18),
 3: Fraction(1, 6)}

In [62]:
leyE_1_2S = pd.Series(leyE_1_2)
leyE_1_2S = leyE_1_2S.sort_index()
leyE_1_2S

0     1/6
1    5/18
2     2/9
3     1/6
4     1/9
5    1/18
dtype: object

De esta forma, es m√°s evidente que se cumple:

$$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

Pues abarcamos todos los posibles resultados.

In [63]:
#Comprobando al sumar todas las probabilidades de las posibles sumas:
sum(leyE_1_2S)

Fraction(1, 1)

### **Ejercicio 2** - Probabilidad de que la suma de las caras sea par.
Realizando un proceso an√°logo

In [64]:
print(Omega)

{(3, 4), (4, 3), (3, 1), (5, 4), (4, 6), (5, 1), (2, 2), (1, 6), (2, 5), (1, 3), (6, 2), (6, 5), (4, 2), (4, 5), (3, 3), (5, 6), (3, 6), (5, 3), (2, 4), (1, 2), (2, 1), (1, 5), (6, 1), (6, 4), (3, 2), (4, 1), (3, 5), (5, 2), (4, 4), (5, 5), (1, 1), (1, 4), (2, 3), (2, 6), (6, 6), (6, 3)}

#### Creando el primer diccionario para obtener su probabilidad:
- La suma de las caras sea par.

In [65]:
# El siguiente diccionario nos dar√° cada par con su respectiva sumas.
E2 = {(i,j) : i+j for i,j in Omega }
E2

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [66]:
# El siguiente diccionario nos dar√° cada par con su respectiva diferencia, pero ya estar√° filtrado con la condici√≥n de la suma par.
E_2 = {(i,j) : i+j for i,j in Omega if (i+j)%2  == 0}
E_2

{(3, 1): 4,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 3): 4,
 (6, 2): 8,
 (4, 2): 6,
 (3, 3): 6,
 (5, 3): 8,
 (2, 4): 6,
 (1, 5): 6,
 (6, 4): 10,
 (3, 5): 8,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (2, 6): 8,
 (6, 6): 12}

#### Acomodando datos:

In [67]:
# Creando un nuevo conjunto manipulable
dE_2 = defaultdict(set)
dE_2

defaultdict(set, {})

In [68]:
# Invirtiendo diccionarios y juntando
for l, v in E_2.items():
  dE_2[v].add(l)
dE_2

defaultdict(set,
            {4: {(1, 3), (2, 2), (3, 1)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             2: {(1, 1)},
             12: {(6, 6)}})

#### Obteniendo su Ley de Probabilidad

In [69]:
leyE_2 = {k : P(A,Omega) for k , A in dE_2.items() }
leyE_2

{4: Fraction(1, 12),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

#### Convirtiendo a Pandas

In [70]:
leyE_2S = pd.Series(leyE_2)
leyE_2S = leyE_2S.sort_index()
leyE_2S

2     1/36
4     1/12
6     5/36
8     5/36
10    1/12
12    1/36
dtype: object

Obtuvimos la probabilidad de todas las posibles sumas que den como resultado un n√∫mero par con los dados.
Para poder obtener la probabilidad de obtener una pareja de dados cuya suma sea par, podemos sumar las probabilidad; pues tenemos eventos mutuamente excluyentes.

---
~~~
Dos eventos A y B son mutuamente excluyentes si no pueden ocurrir al mismo tiempo, es decir, si no tienen elementos comunes.
~~~
---

In [71]:
P2 = sum(leyE_2S)
P2

Fraction(1, 2)

Por lo que la probabilidad de obtener dos n√∫meros cuya suma sea par:
$$ \mathbb{P} (X = x | x = 2n)= \frac{1}{2} = .5 \quad; \quad n \in \mathbb{N} \cup \{0\} $$

#### Comprobando:
Haciendo el an√°logo del ejercicio para:

$$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

##### Forma 1: Sumando complemento

In [72]:
E_2_C = {(i,j) : i+j for i,j in Omega if (i+j)%2  == 1}
E_2_C

{(3, 4): 7,
 (4, 3): 7,
 (5, 4): 9,
 (1, 6): 7,
 (2, 5): 7,
 (6, 5): 11,
 (4, 5): 9,
 (5, 6): 11,
 (3, 6): 9,
 (1, 2): 3,
 (2, 1): 3,
 (6, 1): 7,
 (3, 2): 5,
 (4, 1): 5,
 (5, 2): 7,
 (1, 4): 5,
 (2, 3): 5,
 (6, 3): 9}

In [73]:
# Creando un nuevo conjunto manipulable
dE_2_C = defaultdict(set)
# Invirtiendo diccionarios y juntando
for l, v in E_2_C.items():
  dE_2_C[v].add(l)
dE_2_C

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)}})

In [74]:
leyE_2_C = {k : P(A,Omega) for k , A in dE_2_C.items() }
leyE_2_C

{7: Fraction(1, 6),
 9: Fraction(1, 9),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9)}

In [75]:
leyE_2_CS = pd.Series(leyE_2_C)
leyE_2_CS = leyE_2_CS.sort_index()
leyE_2_CS

3     1/18
5      1/9
7      1/6
9      1/9
11    1/18
dtype: object

In [76]:
P2_C = sum(leyE_2_CS)
P2_C

Fraction(1, 2)

Sumando las probabilidades para corroborar:
Entonces, sumando las probabilidades:
$$ \sum_{k\in R_{X}}\mathbb{P}(X=x) = \mathbb{P} (X=x | x = 2n-1) + \mathbb{P} (X=x | x = 2n ) = \frac{1}{2} + \frac{1}{2} = \frac{2}{2} =  1 \quad; \quad n \in \mathbb{N} \cup \{0\} $$

In [77]:
P2 + P2_C

Fraction(1, 1)

##### Forma 2: Sin restricciones

In [78]:
E_2_2 = {(i,j) : i+j for i,j in Omega if (i+j)%2  == 1 or (i+j)%2  == 0}
#E_2_2 = {(i,j) : i+j for i,j in Omega} # Con cualquiera de las dos opciones nos referimos al mismo conjunto
E_2_2

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [79]:
# Creando un nuevo conjunto manipulable
dE_2_2 = defaultdict(set)
# Invirtiendo diccionarios y juntando
for l, v in E_2_2.items():
  dE_2_2[v].add(l)
dE_2_2

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [80]:
leyE_2_2 = {k : P(A,Omega) for k , A in dE_2_2.items() }
leyE_2_2

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

In [81]:
leyE_2_2S = pd.Series(leyE_2_2)
leyE_2_2S = leyE_2_2S.sort_index()
leyE_2_2S

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

Nuevamente, es m√°s evidente, en esta forma, que se cumple:

$$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

Pues abarcamos todos los posibles resultados.

In [82]:
P2_2 = sum(leyE_2_2S)
P2_2

Fraction(1, 1)